# Python
backend/__pycache__/
backend/.venv/
backend/*.pyc
backend/.env
*.pyc
__pycache__/
.venv/

# Node
frontend/node_modules/
frontend/dist/
node_modules/
dist/

# Firebase
.firebase/
firebase-debug.log

# Environment files
.env
.env.*
!.env.example
!.env.local.example
!.env.production.example
backend/.env
frontend/.env.local
frontend/.env.production
frontend/.env

# Secrets
*.json.key
serviceAccountKey.json
*firebase-adminsdk*.json
juno-medical-clarity-firebase-adminsdk-fbsvc-91f08cee6f.json
